$dark-color : #333333;

.error-messages .ng-scope{
  color:red;
  font-size:11px;
}



.user_picture{
  
  height:150px;
  width:250px;
  border:1px solid black;

}

.layout{

  width:100%;
  height:100%;
  border:1px solid black;

  .column{
    width:32%;
    height:500px;
    border:1px solid blue;
    display:inline-block;
  }

  .user_picture{
  
    height:150px;
    width:150px;
    border:1px solid black;

  }

  .dropdown{

    height:325px;
    width:150px;
    border:1px solid black;    
  
  }

}