<div ng-controller="NavigationController" class="modal" ng-init="init()" ng-click="$event.stopPropagation();">
  <div class="close" ng-click="destroyModal()">X</div>
  <div>
    <form ng-submit="createUser(newUser)" class="modal__registration">
      <div class="registration-container">
        <input name="username"
              class="modal__input"
              ng-model="newUser.username"
              type="text"
              ng-minlength="3"
              required
              placeholder="Username"><br />
        <p ng-show="registrationForm.username.$error.minlength">Username is too short.</p>
        <p ng-show="registrationForm.username.$error.required">Please enter a username</p>
        <!-- Need to fix confirm-to password validation-->
        <input ng-model="newUser.password"
          class="modal__input"
          type="password"
          required
          name="password"
          placeholder="Password"><br />
        <p ng-show="registrationForm.password.$error.required">Please enter a password</p>

        <input name="confirmation"
          required
          class="modal__input"
          compare-to="newUser.password"
          ng-model="newUser.confirmation"
          type="password"
          placeholder="Confirm Password"><br />

        <input name="email" ng-pattern="validations.email" required ng-model="newUser.email"
          class="modal__input"
          type="text"
          placeholder="xxx@xxxx.xxx"><br />
          <p ng-show="registrationForm.password.$error.required">Please enter an email address</p>
        <select name="accountType" class="modal__select modal__input required" ng-model="newUser.account_type" ng-options="accountType.name for accountType in accountTypes">
          <option value="">--User Type--</option>
        </select>
        <div ng-messages="registrationForm.userType.$error" ng-show="registrationForm.userType.$touched">
          <p ng-message="required">User Type is required</p>
        </div>
        <li class="nav__public-item" ><a type="submit" ng-click="createUser(newUser)" class="modal__input modal__input--button">Sign Up!</a></li>
      </div>
    </form>
        <li ng-click="toggle($event)" class="nav__public-item " ><a type="submit" class="modal__input modal__input--login">Already have an account? Login here!</a></li>
  </div>
</div>