body, html {
  margin: 0;
  padding: 0; }

body {
  background-color: blue; }

.error-messages .ng-scope {
  color: red;
  font-size: 11px; }

.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10001; }

.modal {
  background-color: navy;
  display: block;
  position: absolute;
  z-index: 10002;
  width: 100%;
  height: 250px;
  max-width: 750px;
  min-width: 300px;
  top: 25%;
  left: 25%;
  bottom: auto;
  right: auto;
  -webkit-text-stroke: 0.35px;
  -webkit-font-smoothing: antialiased; }
  .modal input {
    max-width: 550px;
    padding: 10px;
    border: solid 1px #FFF;
    transition: border 0.3s;
    height: 100%;
    width: 100%; }
  .modal .close {
    position: absolute;
    right: 0; }

.nav {
  width: 100%; }
  .nav .nav__public {
    display: flex;
    background-color: #FFFFFF;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    flex-direction: row;
    margin: 0; }
  .nav .nav__public-item {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-weight: 600;
    font-size: 1em; }
  .nav .nav__public-item--button {
    justify-content: flex-end; }
  .nav .nav__dropdown {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    list-style: none;
    padding: 0;
    height: 0;
    width: 300px;
    transform: translateX(-90%);
    overflow: hidden;
    transition: all 0.2s;
    top: 80px; }
    .nav .nav__dropdown.active {
      transition: all 0.2s;
      height: 150px;
      border: 1px solid #000000; }
  .nav .nav__paragraph {
    display: inline-block; }
  .nav .nav__input {
    display: inline-block; }
  .nav .nav__wrapper {
    display: flex;
    width: 35%;
    justify-content: space-around;
    align-items: center; }
  .nav .nav__button {
    height: 30px;
    width: 50px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    margin: 0 15px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center; }

.login {
  background-color: red;
  width: 100%;
  height: 50%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 50; }
  .login .form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 50%;
    width: 50%; }
    .login .form .login-container {
      padding-top: 25%; }
      .login .form .login-container input {
        padding: 10px;
        border: solid 1px #FFF;
        transition: border 0.3s;
        height: 100%;
        width: 100%; }
    .login .form .registration-container {
      padding-top: 2%; }
      .login .form .registration-container input {
        padding: 10px;
        border: solid 1px #FFF;
        transition: border 0.3s;
        height: 100%;
        width: 100%; }
      .login .form .registration-container select {
        text-align: left;
        padding: 10px;
        border: solid 1px #FFF;
        transition: border 0.3s; }
      .login .form .registration-container button {
        font-weight: 800;
        height: 50px;
        padding: 10px;
        width: 100%; }

.dashboard {
  background-color: red;
  position: fixed;
  height: 100%;
  width: 100%; }
  .dashboard .left-column {
    float: left;
    display: inline-block;
    width: 12.5%;
    height: 95%;
    background-color: skyblue; }
    .dashboard .left-column .account-picture {
      height: 25%;
      width: 100%;
      background-color: black; }
    .dashboard .left-column .dropdown-links {
      height: 75%;
      width: 100%;
      margin: auto;
      background-color: white; }
  .dashboard .middle-column {
    display: inline-block;
    width: 75%;
    height: 90%;
    overflow: auto;
    background-color: purple; }
    .dashboard .middle-column .project-wrapper {
      width: 100%;
      height: 100%; }
  .dashboard .right-column {
    float: right;
    display: inline-block;
    width: 12.5%;
    height: 95%;
    background-color: green; }
