.error-messages .ng-scope {
  color: red;
  font-size: 11px; }

.user_picture {
  height: 250px;
  width: 250px;
  border: 1px solid black; }
  .user_picture i {
    height: 250px;
    width: 250px;
    border: 1px solid black; }
