<div ng-include="header.url"></div>
<div class="forgot-password">
  <div class="form">
    <form ng-submit="forgotPasswordEmail(user)" name="forgotPasswordForm">
      <div class="forgot-password-container">
        <input name="email" ng-pattern="validations.email" required ng-model="user.email"
          type="text"
          placeholder="xxx@xxxx.xxx"><br />
        <div ng-messages="forgotPasswordForm.email.$error">
          <div ng-messages-include src="views/partials/resources/error-messages.tpl.html"></div>
        </div>

        <button type="submit">Send Email!</button>
      </div>
    </form>
  </div>
</div>