<div class="login">
  <div class="form">
    <form ng-submit="login(user)" name="loginForm">
        <div class="login-container">
          <input name="username"
                ng-model="user.username"
                type="text"
                required
                placeholder="Username"><br />
          <div ng-messages="loginForm.username.$error">
            <!-- <div ng-messages-include src="/views/partials/resources/error-messages.tpl.html"></div> -->
          </div>

          <input name="password"
                ng-model="user.password"
                type="password"
                required
                placeholder="Password"><br />
          <div ng-messages="loginForm.last_name.$error">
            <!-- <div ng-messages-include src="/views/partials/resources/error-messages.tpl.html"></div> -->
          </div>
        <button type="submit">Login</button>
      </div>
    </form>
    <h6><a href="/register">Don't have an account?  Click here to register!</a></h6>
    <div>
      <a href="/forgot-password">Reset Password</a>
    </div>
  </div>
</div>