<div class="reset-password">
  <div class="form">
    <form ng-submit="resetUserPassword(inputPassword)" name="resetPasswordForm">
      <div class="reset-password-container">
        <input ng-model="inputPassword.password"
          type="password"
          required
          name="password"
          placeholder="Password"><br />
        <div ng-messages="resetPasswordForm.password.$error">
          <div ng-messages-include views/src="partials/resources/error-messages.tpl.html"></div>
        </div>

        <input name="confirmation"
          required
          compare-to="newUser.password"
          ng-model="newUser.confirmation"
          type="password"
          placeholder="Confirm Password"><br />
        <div ng-messages="resetPasswordForm.confirmation.$error">
          <div ng-messages-include src="views/partials/resources/error-messages.tpl.html"></div>
        </div>

        <button type="submit">Reset Password</button>
      </div>
    </form>
  </div>
</div>


