.nav{
	width:100%;
	.nav__public{
		display: flex;
		background-color: $white;	
		width:100%;
		height:75px;
		justify-content:space-between;
		flex-direction:row;
		margin:0;

	}

	.nav__public-item{
		flex-direction:row;
		display: flex;
		align-items:center;
		justify-content:space-around;
		list-style: none;
		font-weight:600;
		font-size:1em;
	}
	
	.nav__public-item--button{
		justify-content: flex-end;
	}

	.nav__dropdown{
		position: absolute;
		background-color:rgba(255, 255, 255 ,0.9);
		list-style:none;
		padding:0;
		height:0;	
		width:300px;
		transform: translateX(-90%);
		overflow: hidden;
    transition: (all 0.2s);
    top:80px;
		&.active{
		  transition: (all 0.2s);
			height:150px;
  		border:1px solid $black;
		}
	}
	
	.nav__paragraph{
		display: inline-block;
	}

	.nav__input{
		display: inline-block;
	}

	.nav__wrapper{
		display: flex;
		width:35%;
		justify-content:space-around;
		align-items:center;
	}

	.nav__button{
		height:30px;
		width:50px;
		border:1px solid $black;
		background-color:$white;
		margin:0 15px;
		display: flex;
		text-decoration: none;
		align-items:center;
		justify-content:center;	
	}	

}