<div ui-view>
  <div>
    <div ng-include="header.url"></div>
    <div ng-include="modal.url"></div>

    <div class="dashboard">
      <div class="left-column">
        <div class="account-picture">
          
        </div>
        <div class="dropdown-links">
          <ul>
            <li ng-click="newProjectModal()">New Project</li>
            <li ng-click="newTagModal()">Add Tag</li>

          </ul>
        </div>
      </div>
      <div class="middle-column project-wrapper">
        <h3>
          You are now viewing project id  {{projectId}}
        </h3>
        <div class="project">
          <div class="data">Project Name : {{project.project_name}}</div>
          <div class="data">Company Name : {{project.company_name}}</div>
          <div class="data">Location : {{project.location}}</div>
          <br>
          <div ng-if="showTags">
            <div ng-repeat="tag in tags">
              <div>name: {{tag.name}}</div>
              <div>quantity: {{tag.quantiy}}</div>
              <div>pid: {{tag.pid}}</div>
              <div>service: {{tag.service}}</div>
              <div>line_number: {{tag.line_number}}</div>
              <div>model_number: {{tag.model_number}}</div>
              <div>tag.need_by_date: {{tag.need_by_date}}</div>
              <div>tag.ship_date: {{tag.ship_date}}</div>
              <div>tag.tracking_number: {{tag.tracking_number}}</div>
              <div>tag.projectId: {{tag.projectId}}</div>
              <h3 ng-click="enterTag(tag.id)">ENTER TAG</h3>
              <div style="height: 2px; width:100%; background-color:black;"></div>
            </div>
          </div>
        </div>

      </div>
      <div class="right-column">
        
      </div>
    </div>
  </div>
</div>