<div ui-view>
    <div class="row">
        <div class="small-10 medium-8 columns tag__dashboard">
            <h1>Project Page</h1>
            <button ng-click="setModal('addProject')">New Project</button>
            <button ng-click="setModal('addTag')">Add Tag</button>
            <div>
                <h2>Project Name: {{project.project_name}}</h2>
                <h2>Company Name: {{project.company_name}}</h2>
                <h2>Location: {{project.location}}</h2>
            </div>
            <div ng-repeat="tag in tags">
                <div>Tag Name: {{tag.name}}</div>
                <div>Quantity: {{tag.quantity}}</div>
                <div>pid: {{tag.pid}}</div>
                <div>Service: {{tag.service}}</div>
                <div>Line Number: {{tag.line_number}}</div>
                <div>Model Number: {{tag.model_number}}</div>
                <div>Due Date: {{tag.due_date | date:'MM/dd/yyyy'}}</div>
                <div>Ship Date: {{tag.ship_date | date:'MM/dd/yyyy'}}</div>
                <div>Tracking Number: {{tag.tracking_number}}</div>
                <button ng-click="enterTag(tag.id)">ENTER TAG</button>
            </div>
        </div>
        <div class="small-2 medium-4 columns right-column">
            <h1>Ad goes here</h1>
        </div>
    </div>
</div>
