<form action="">
  <input type="text" placeholder="Company" ngModel="project.company_name"> <br />
  <input type="text" placeholder="Project Name" ngModel="project.project_name"> <br />
  <input type="text" placeholder="Tag Number" ngModel="project.tag_number"> <br />
  <input type="text" placeholder="P & ID" ngModel="project.pid"> <br />
  <input type="text" placeholder="Service" ngModel="project.service"> <br />
  <input type="text" placeholder="Line Number" ngModel="project.line_number"> <br />
  <input type="text" placeholder="Quantity" ngModel="project.quantity"> <br />
  <button ng-click="create(project)">Create Project</button>
</form>

