<div>
<form ng-submit="createUser(newUser)" name="registrationForm">
  <div>
    <input name="username"
          ng-model="newUser.username"
          type="text"
          required
          placeholder="Username"><br />
    <div ng-messages="registrationForm.username.$error">
      <div ng-messages-include src="partials/error-messages.tpl.html"></div>
    </div>

    <select name="accountType" required ng-model="newUser.account_type" ng-options="accountType.name for accountType in accountTypes">
      <option value="">--User Type--</option>
    </select>
    <div ng-messages="registrationForm.userType.$error" ng-show="registrationForm.userType.$touched">
      <p ng-message="required">User Type is required</p>
    </div>

    <input ng-model="newUser.password"
      type="password"
      required
      name="password"
      placeholder="Password"><br />
    <div ng-messages="registrationForm.password.$error">
      <div ng-messages-include src="partials/error-messages.tpl.html"></div>
    </div>

    <input name="confirmation"
      required
      compare-to="newUser.password"
      ng-model="newUser.confirmation"
      type="password"
      placeholder="Confirm Password"><br />
    <div ng-messages="registrationForm.confirmation.$error">
      <div ng-messages-include src="partials/error-messages.tpl.html"></div>
    </div>

    <input name="email" ng-pattern="validations.email" required ng-model="newUser.email"
      type="text"
      placeholder="xxx@xxxx.xxx"><br />
    <div ng-messages="registrationForm.email.$error">
      <div ng-messages-include src="partials/error-messages.tpl.html"></div>
    </div>

  </div>
  <button type="submit">Create User!</button>
</form>
</div>