<div>
  <form ng-submit="createUser(newUser)" name="registration">
    <div>
     <input ng-model="newUser.username" type="text" placeholder="Username"><br />
     <input ng-model="newUser.password" 
            type="password"
            required 
            name="initialPassword"
            placeholder="Password"><br /> 
     <input name="confirmPassword" required compare-to="newUser.password" ng-model="newUser.confirmation" type="password" placeholder="Password(confirmation)"><br />
        <div ng-messages="registration.confirmPassword.$error" style="color:maroon">
            <div ng-messages-include src="partials/error-messages.html"></div>
        </div>
        <pre>registration.confirmPassword.$error = {{ registration.confirmPassword.$error | json }}</pre>
    <input ng-model="newUser.email" type="text" placeholder="Email"><br /> 
    <dropdown-select items="accountTypes" ng-model="newUser.account_type"></dropdown-select>
    </div>
    <div>
     <input ng-model="newUser.address" type="text" placeholder="Address"><br />
     <input ng-model="newUser.city" type="text" placeholder="City"><br />
     <dropdown-select items="states" ng-model="newUser.selectedState"></dropdown-select><br /> 
     <input ng-model="newUser.zipcode" type="text" placeholder="Zipcode"><br /> 
     <input ng-model="newUser.company" type="text" placeholder="Company"><br />
     <input ng-model="newUser.job_title" type="text" placeholder="Job Title"><br />
     <input ng-model="newUser.phone_number" type="text" placeholder="Phone Number"><br />
    </div>
    <button type="submit">Create User!</button>
  </form>
    {{selected}}
    <tt>{{newUser.state}}</tt>
</div>