<nav class="nav" ng-controller="NavigationController" ng-init="init()">
    <div class="footer">
        <div class="row">
            <div class="small-3 columns">
                <ul>
                    <li>Connect With Us</li>
                    <li>FB / TW</li>
                    <li>SizeAndSelect <br /> Hourson, TX</li>
                    <li>info@sizeandselect.com</li>
                    <li><a href="#">Knowledge Center</a></li>
                </ul>
            </div>
            <div class="small-3 columns">
                <ul>
                    <li>The Details</li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/terms-of-use">Terms of Use</a></li>
                    <li><a href="/our-security">Our Security</a></li>

                </ul>
            </div>

        </div>
    </div>
</nav>
