<nav class="nav" ng-controller="NavigationController" ng-init="init()">
	<div>
		<ul class="nav__public">
			<li class="nav__public-item">Logo</li>
			<li class="nav__public-item">Features <ul>
				<li><p class="nav__paragraph">USERNAME:</p><input class="nav__input" type="text"></li>
				<li><p class="nav__paragraph">PASSWORD:</p><input class="nav__input" type="text"></li>
				<li><a href="#" class="nav__button">Go!</a></li>
			</ul></li>
			<li class="nav__public-item">Pricing</li>
			<li class="nav__public-item">Login</li>
			<li class="nav__public-item">Sign Up</li>
		</ul>
	</div>
</nav>
