<nav class="nav" ng-controller="NavigationController as nav" ng-init="init()">
	<ul class="nav__public">
		<li class="nav__public-item">
			<a href="/dashboard">
				<img class="nav__item--logo" src="./assets/home-logo-image.jpg" alt="">
			</a>
		</li>
		<div class="nav__wrapper">
			<li class="nav__public-item">Features </li>
			<li class="nav__public-item">Pricing</li>
			<li class="nav__public-item">
				<p class="nav__paragraph" ng-click="toggle()">Login</p>
				<ul id="nav__login_dropdown" tabindex="1" class="hidden nav__dropdown hidden">
					<form name="login" ng-submit="global.login(user)">
						<li class="nav__public-item">
							<p class="nav__paragraph">USERNAME:</p>
							<input
								class="nav__input"
								type="text"
								name="username"
								ng-model="user.username"
					            type="text"
					            required
					            placeholder="Username">
					  	<div ng-messages="login.username.$error" role="alert">
						    <div class="error-message" ng-message="required">You must enter a username</div>
						  </div>
						</li>
						<li class="nav__public-item" >
							<p class="nav__paragraph">PASSWORD:</p>
							<input
								class="nav__input"
								ng-model="user.password"
											name="password"
					            type="password"
					            required
					            placeholder="Password">
							<div ng-messages="login.password.$error" role="alert">
						    <div ng-message="correctPassword" class="error-message">You have entered an incorrect password</div>
						  </div>
						</li>
						<li class="nav__public-item nav__public-item--button" >
							<button ng-class="nav__button">Login</button>
						</li>
					</form>
				</ul>
			</li>
			<li class="nav__public-item" ng-click="setModal('register')">Sign Up</li>
		</div>
	</ul>
</nav>
