<div ng-init="init()" class="dashboard">
  <div class="left-column">
    <div class="account-picture">
    </div>
    <div class="dropdown-links">
      <ul>
        <li ng-click="newProjectModal()">New Project</li>
      </ul>
    </div>
  </div>
  <div class="middle-column project-wrapper">
    <form ng-submit="processTagInputData(tagAnalytics)" name="tagAnalyticsSheet">
    <ul>
      <li>
        <label>Media Type
          <select ng-model="tagAnalytics.mediaType">
            <option ng-repeat="type in UNITS.MEDIA_TYPE">{{type.name}}</option>
          </select>
        </label>
      </li>
      <li>
        <label>Media
          <label style="display:inline-block;" mass-autocomplete>
            <input ng-model="tagAnalytics.media" mass-autocomplete-item="autocomplete_options">
          </label>
        </label>
      </li>
      <!-- Only show below three if media type is VAPOR (Gas?) or STEAM -->
      <div ng-if="tagAnalytics.mediaType === 'Gas' || tagAnalytics.mediaType === 'Steam'">
        <li>
          <label>Molecular Weight (value based on media)
            <input ng-model="tagAnalytics.molecularWeight">
          </label>
        </li>
        <li>
          <label>Specific Heat (k) (value based on media/function)
            <input ng-model="tagAnalytics.specificHeat">
          </label>
        </li>
        <li>
          <label>Compressibility Factor
            <input ng-model="tagAnalytics.compressibility">
          </label>
        </li>
      </div>
      <!-- Only show below two if media type is LIQUID -->
      <div ng-if="tagAnalytics.mediaType === 'Liquid'">
        <li>
          <label>Specific Gravity
            <input class="tag-dropdown" name="accountType" ng-model="tagAnalytics.specificGravity">
          </label>
        </li>
        <li>
          <label>Viscosity
            <input class="tag-dropdown" name="accountType" ng-model="tagAnalytics.viscosity">
            <select name="accountType" ng-model="tagAnalytics.viscosityUnit" ng-options="viscosityUnit.name for viscosityUnit in viscosityUnits">
              <option value="">viscosity units</option>
            </select>
          </label>
        </li>

      </div>

      <div>
        <li>
          <label>Relief Temp
            <input class="tag-dropdown" ng-model="tagAnalytics.reliefTemperature">
            <select ng-model="tagAnalytics.temperatureUnit" ng-options="temperatureUnit.name for temperatureUnit in UNITS.TEMPERATURE">
              <option value="">temp units</option>
            </select>
          </label>
        </li>
        <li>
          <label>Operating Temp
            <input class="tag-dropdown" ng-model="tagAnalytics.operatingTemperature">
            <select ng-model="tagAnalytics.temperatureUnit" ng-options="temperatureUnit.name for temperatureUnit in UNITS.TEMPERATURE">
              <option value="">temp units</option>
            </select>
          </label>
        </li>
        <li>
          <label>Design Min Temp
            <input class="tag-dropdown" ng-model="tagAnalytics.designMinTemperature">
            <select ng-model="tagAnalytics.temperatureUnit" ng-options="temperatureUnit.name for temperatureUnit in UNITS.TEMPERATURE">
              <option value="">temp units</option>
            </select>
          </label>
        </li>
        <li>
          <label>Design Max Temp
            <input class="tag-dropdown" ng-model="tagAnalytics.designMaxTemperature">
            <select ng-model="tagAnalytics.temperatureUnit" ng-options="temperatureUnit.name for temperatureUnit in UNITS.TEMPERATURE">
              <option value="">temp units</option>
            </select>
          </label>
        </li>
        <li>
          <label>Required Flow Capacity
            <input class="tag-dropdown" ng-model="tagAnalytics.requiredFlowCapacity">
            <select ng-model="tagAnalytics.requiredFlowCapacityUnit" ng-options="flowCapacityUnit.name for flowCapacityUnit in UNITS.FLOW_CAPACITY">
              <option value="">flow Capacity Units</option>
            </select>
          </label>
        </li>
        <li>
          <label>ATM
            <input class="tag-dropdown" ng-model="tagAnalytics.atmPressure">
            <select ng-model="tagAnalytics.pressure" ng-options="pressureUnit.name for pressureUnit in UNITS.PRESSURE">
              <option value="">pressure units</option>
            </select>
          </label>
        </li>
        <li>
          <label>MAWP
            <input class="tag-dropdown" ng-model="tagAnalytics.mawp">
            <select ng-model="tagAnalytics.pressure" ng-options="pressureUnit.name for pressureUnit in UNITS.PRESSURE">
              <option value="">pressure units</option>
            </select>
          </label>
        </li>
        <li>
          <label>Operating Pressure
            <input class="tag-dropdown" ng-model="tagAnalytics.operatingPressure">
            <select ng-model="tagAnalytics.pressure" ng-options="pressureUnit.name for pressureUnit in UNITS.PRESSURE">
              <option value="">pressure units</option>
            </select>
          </label>
        </li>
        <li>
          <label>Set Pressure
            <input class="tag-dropdown" ng-model="tagAnalytics.setPressure">
            <select ng-model="tagAnalytics.pressure" ng-options="pressureUnit.name for pressureUnit in UNITS.PRESSURE">
              <option value="">pressure units</option>
            </select>
          </label>
        </li>
        <li>
          <label>Back Pressure Built Up
            <input class="tag-dropdown" ng-model="tagAnalytics.backPressureBuiltUp">
            <select ng-model="tagAnalytics.pressure" ng-options="pressureUnit.name for pressureUnit in UNITS.PRESSURE">
              <option value="">pressure units</option>
            </select>
          </label>
        </li>
        <li>
          <label>Variable Superimposed Back Pressure
          <input class="tag-dropdown" ng-model="tagAnalytics.varSuperimposed">
          </label>
        </li>
        <li>
          <label>Var Superimposed
            <select ng-model="tagAnalytics.pressure" ng-options="pressureUnit.name for pressureUnit in UNITS.PRESSURE">
              <option value="">pressure units</option>
            </select>
          </label>
        </li>
        <li>
          <label>Constant Superimposed Back Pressure
            <input class="tag-dropdown" ng-model="tagAnalytics.constantSuperimposed">
            <select ng-model="tagAnalytics.pressure" ng-options="pressureUnit.name for pressureUnit in UNITS.PRESSURE">
              <option value="">pressure units</option>
            </select>
          </label>
        </li>
        <li>
          <label>Select Sizing Basis
            <select ng-model="tagAnalytics.sizingBasis" ng-options="sizingBasisUnit.name for sizingBasisUnit in UNITS.SIZING_BASIS">
              <option value="">sizingBasis units</option>
            </select>
          </label>
        </li>
        <li>
          <label>Overpressure (based on sizing basis selection)
            <input class="tag-dropdown" ng-model="tagAnalytics.overpressure">
          </label>
        </li>
      </div>

      <!-- They are related to each other so if a user enters a value in one, the other gets populated
        based on a function. And visa versa -->

      <li>
        <label>Inlet Loss %
          <input class="tag-dropdown" ng-model="tagAnalytics.inletLossPercent">
        </label>
      </li>
      <li>
        <label>Inlet Loss
          <input class="tag-dropdown" ng-model="tagAnalytics.inletLoss">
        </label>
      </li>
     <!-- This is a checkbox and if true, then show an input with default -->
      <li>
        Rupture Disc:
        <label>Yes
          <input type="checkbox" ng-model="tagAnalytics.ruptureDiscYes">
        </label>
        <label>No
          <input type="checkbox" ng-model="tagAnalytics.ruptureDiscNo">
        </label>
        <input class="tag-dropdown" ng-model="tagAnalytics.ruptureDisc">Rupture Disc {{TAG_DEFAULT_VALUES.RUPTURE_DISC}}
      </li>

      <li>
        <label>Orifice Required
          <input class="tag-dropdown" readonly value="ORIFICE_GENERATED_VALUE">Orifice Required
        </label>
      </li>

      <li>
        Toggle Sizing
        <select name="sizingToggle" ng-model="tagAnalytics.toggleSizing" ng-options="sizingToggle.name for sizingToggle in UNITS.TOGGLE_API_ASME">
          <option value="">comes from DB toggle_api_asme_sizing</option>
        </select>
      </li>
    </ul>
      <button type="submit">Submit</button>
   </form>
  </div>
</div>


