<div ng-init="init()" class="">
    <form ng-submit="processTagInputData(tagAnalytics)" name="tagAnalyticsSheet">
        <div class="row">
            <div class="small-5 columns">
                <label>Media Type*
                        <select ng-model="tagAnalytics.mediaType"
                        ng-options="mediaType.name for mediaType in UNITS.MEDIA_TYPE">
                            <option ng-model="tagAnalytics.mediaTypeSelection"></option>
                        </select>
                </label>
            </div>
            <div class="small-2 columns"></div>
            <div class="small-5 columns">
                <label>Select Code Type*
                        <select ng-model="tagAnalytics.codeType"
                        ng-options="codeType.name for codeType in UNITS.CODE_TYPE">
                            <option ng-model="tagAnalytics.codeTypeSelection"></option>
                        </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns tag__mid-section">
                <div class="row">
                    <div class="small-6 columns tag__mid-section-left">
                        <div class="tag__input-box">
                            <h1>Media Name*</h1>
                            <input ng-model="tagAnalytics.media">
                        </div>
                        <div ng-if="tagAnalytics.mediaType.name === 'Gas' || tagAnalytics.mediaType.name === 'Steam'">
                            <div class="tag__input-box">
                                <h1>Molecular Weight*</h1>
                                <input type="number" ng-model="tagAnalytics.molecularWeight">
                            </div>
                            <div class="tag__input-box">
                                <h1>Specific Heat (k)*</h1>
                                <input type="number" ng-model="tagAnalytics.specificHeat">
                            </div>
                            <div class="tag__input-box">
                                <h1>Compressibility Factor*</h1>
                                <input type="number" ng-model="tagAnalytics.compressibility">
                            </div>
                        </div>
                        <div ng-if="tagAnalytics.mediaType.name === 'Liquid'">
                            <div class="tag__input-box">
                                <h1>Specific Gravity*</h1>
                                <input class="tag-dropdown" type="number" name="accountType" ng-model="tagAnalytics.specificGravity">
                            </div>
                            <div class="tag__input-box">
                                <h1>Viscosity*</h1>
                                <input class="tag-dropdown" name="accountType" ng-model="tagAnalytics.viscosity">
                                <select name="accountType" type="number" ng-model="tagAnalytics.viscosityUnit" ng-options="viscosityUnit.name for viscosityUnit in viscosityUnits">
                                    <option value="">viscosity units</option>
                                </select>
                            </div>
                        </div>
                        <div class="tag__input-box">
                            <h1>Relief Temperature*</h1>
                            <input class="tag-dropdown" type="number" ng-model="tagAnalytics.reliefTemperature">
                            <select ng-model="tagAnalytics.temperatureUnit" ng-options="temperatureUnit.name for temperatureUnit in UNITS.TEMPERATURE">
                                <option value="">temp units</option>
                            </select>
                        </div>
                        <div class="tag__input-box">
                            <h1>Operating Temperature*</h1>
                            <input class="tag-dropdown" type="number" ng-model="tagAnalytics.operatingTemperature">
                            <select ng-model="tagAnalytics.temperatureUnit" ng-options="temperatureUnit.name for temperatureUnit in UNITS.TEMPERATURE">
                                <option value="">temp units</option>
                            </select>
                        </div>
                        <div class="tag__input-box">
                            <h1>Design Min Temperature</h1>
                            <input class="tag-dropdown" type="number" ng-model="tagAnalytics.designMinTemperature">
                            <select ng-model="tagAnalytics.temperatureUnit" ng-options="temperatureUnit.name for temperatureUnit in UNITS.TEMPERATURE">
                                <option value="">temp units</option>
                            </select>
                        </div>
                        <div class="tag__input-box">
                            <h1>Design Max Temperature</h1>
                            <input class="tag-dropdown" type="number" ng-model="tagAnalytics.designMaxTemperature">
                            <select ng-model="tagAnalytics.temperatureUnit" ng-options="temperatureUnit.name for temperatureUnit in UNITS.TEMPERATURE">
                                <option value="">temp units</option>
                            </select>
                        </div>
                        <div class="tag__input-box">
                            <h1>Required Flow Capacity*</h1>
                            <input class="tag-dropdown" type="number" ng-model="tagAnalytics.requiredFlowCapacity">
                            <select ng-model="tagAnalytics.requiredFlowCapacityUnit" ng-options="flowCapacityUnit.name for flowCapacityUnit in UNITS.FLOW_CAPACITY">
                                <option value="">flow Capacity Units</option>
                            </select>
                        </div>
                    </div>
                    <div class="small-6 columns tag__mid-section-right">
                        <div class="tag__input-box">
                            <h1>ATM: Pressure*</h1>
                            <input class="tag-dropdown" type="number" ng-model="tagAnalytics.atmPressure">
                            <select ng-model="tagAnalytics.pressure.pressureUnit" ng-options="pressureUnit.name for pressureUnit in UNITS.PRESSURE">
                                <option value="">pressure units</option>
                            </select>
                        </div>
                        <div class="tag__input-box">
                            <h1>MAWP</h1>
                            <input class="tag-dropdown" type="number" ng-model="tagAnalytics.mawp">
                            <select ng-model="tagAnalytics.pressureUnit" ng-options="pressureUnit.name for pressureUnit in UNITS.PRESSURE">
                                <option value="">pressure units</option>
                            </select>
                        </div>
                        <div class="tag__input-box">
                            <h1>Operating Pressure</h1>
                            <input class="tag-dropdown" type="number" ng-model="tagAnalytics.pressure.operatingPressure">
                            <select ng-model="tagAnalytics.pressure" ng-options="pressureUnit.name for pressureUnit in UNITS.PRESSURE">
                                <option value="">pressure units</option>
                            </select>
                        </div>
                        <div class="tag__input-box">
                            <h1>Set Pressure*</h1>
                            <input class="tag-dropdown" type="number" ng-model="tagAnalytics.setPressure">
                            <select ng-model="tagAnalytics.pressure" ng-options="pressureUnit.name for pressureUnit in UNITS.PRESSURE">
                                <option value="">pressure units</option>
                            </select>
                        </div>
                        <div class="tag__input-box">
                            <h1>Built Up Back Pressure</h1>
                            <input class="tag-dropdown" type="number" ng-model="tagAnalytics.backPressureBuiltUp">
                            <select ng-model="tagAnalytics.pressure" ng-options="pressureUnit.name for pressureUnit in UNITS.PRESSURE">
                                <option value="">pressure units</option>
                            </select>
                        </div>
                        <div class="tag__input-box">
                            <h1>Variable Superimposed Back Pressure</h1>
                            <input class="tag-dropdown" type="number" ng-model="tagAnalytics.varSuperimposed">
                            <select ng-model="tagAnalytics.pressure" ng-options="pressureUnit.name for pressureUnit in UNITS.PRESSURE">
                                <option value="">pressure units</option>
                            </select>
                        </div>
                        <div class="tag__input-box">
                            <h1>Constant Superimposed Back Pressure</h1>
                            <input class="tag-dropdown" type="number" ng-model="tagAnalytics.constantSuperimposed">
                            <select ng-model="tagAnalytics.pressure" ng-options="pressureUnit.name for pressureUnit in UNITS.PRESSURE">
                              <option value="">pressure units</option>
                            </select>
                        </div>
                        <div>
                            <h1>Total Back Pressure</h1>
                            <h2>{{tagCalculationOutputs.totalBackPressure}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns" style="border: 1px solid black">
                <h1>Size Basis</h1>
                <div>
                    <h1>Sizing Basis*</h1>
                    <select ng-model="tagAnalytics.sizingBasis" ng-options="sizingBasisUnit.name for sizingBasisUnit in UNITS.SIZING_BASIS">
                        <option value="">sizingBasis units</option>
                    </select>
                </div>
                <div>
                    <h1>Overpressure*</h1>
                    <h3 ng-model="tagAnalytics.overpressure">{{tagAnalytics.sizingBasis.overpressure}}</h3>
                </div>
            </div>
            <div class="small-4 columns" style="border: 1px solid black">
                <h1>Inlet Loss or Rupture Disk</h1>
                <!-- They are related to each other so if a user enters a value in one, the other gets populated
                    based on a function. And visa versa -->
                <div>
                    <h1>Inlet Loss %</h1>
                    <input class="tag-dropdown" ng-model="tagAnalytics.inletLossPercent">
                </div>
                <div>
                    <h1>Inles Loss</h1>
                    <input class="tag-dropdown" ng-model="tagAnalytics.inletLoss">
                </div>
                <div>
                <!-- This is a checkbox and if true, then show an input with default -->
                    <h1>Rupture Disc</h1>
                    <label>Yes
                      <input type="checkbox" ng-model="tagAnalytics.ruptureDiscYes">
                    </label>
                    <label>No
                      <input type="checkbox" ng-model="tagAnalytics.ruptureDiscNo">
                    </label>
                    <input class="tag-dropdown" ng-model="tagAnalytics.ruptureDisc">Rupture Disc
                </div>
            </div>
            <div class="small-4 columns" style="border: 1px solid black">
                <h1>Calculated Orifice*</h1>
                <div>
                    <h2>Orifice Required</h2>
                    <h3>{{tagCalculationOutputs.orificeSize}}</h3>
                </div>
                <div>
                    <h1>ASME Sizing*</h1>
                    <select name="asmeSizing" ng-model="tagAnalytics.asmeSizing" ng-options="asmeSizing.name for asmeSizing in UNITS.ASME_SIZING">
                      <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
      <button type="submit">Save</button>
      <button>Next (only show if all req* fields are filled out)</button>
   </form>
</div>
