.dashboard{
  background-color:red;   
  position:fixed;
  height:100%;
  width:100%;

  .left-column{
    float:left;
    display:inline-block;
    width:12.5%;
    height:95%;
    background-color:skyblue;

    .account-picture{
      height:25%;
      width:100%;
      background-color:black;
    }

    .dropdown-links{
      height:75%;
      width:100%;
      margin:auto;
      background-color:white;
    }
  }

  .middle-column{
    display:inline-block;
    width:75%;
    height:95%;
    background-color:purple;
    .project{
      border:2px solid orange;
      margin-top:20px;
      .data{
        display:inline-block;
        width:32%;
      }
    }
  }

  .right-column{
    float:right;
    display:inline-block;
    width:12.5%;
    height:95%;
    background-color:green;
  }

}