.emails-outro
ul.emails-social-icons
    li.emails-social-icon
        a(href='#')
            img.emails-social-icon-circle(src='http://c2.staticflickr.com/2/1570/23567606443_7232dc3363_t.jpg', alt='Facebook')
        p.emails-social-icon-name Facebook
    li.emails-social-icon
        a(href='#')
            img.emails-social-icon-circle(src='http://c2.staticflickr.com/2/1640/23567606433_bfc6dcacbd_t.jpg', alt='Twitter')
        p.emails-social-icon-name Twitter
    li.emails-social-icon
        a(href='#')
            img.emails-social-icon-circle(src='http://c2.staticflickr.com/2/1668/24111807991_e231bda0b3_t.jpg', alt='Google')
        p.emails-social-icon-name Google