<div class="row">
    <div class="small-10 medium-8 columns dashboard">
        <div>
            <h1>Project Dashboard</h1>
            <button ng-click="setModal('addProject')">New Project</button>
        </div>

        <div class="project" ng-repeat="project in projects" ng-click="enterTag(project.id)">
            <div class="row">
                <div class="small-2 columns">
                    <img src="http://placehold.it/140x100" alt="">
                </div>
                <div class="small-6 columns">
                    <h1>{{project.project_name}}</h1>
                    <h1>{{project.company_name}} | {{project.created_at}}</h1>
                </div>
                <div class="small-2 columns">
                    <h1> {{project.location}}</h1>
                </div>
                    <button ng-click="openProject(project.id)">Open Project</button>
            </div>
        </div>
    </div>
    <div class="small-2 medium-4 columns right-column">
        <h1>Ad goes here</h1>
    </div>
</div>

