<div ng-controller="HomeController">
    <div class="home__main">
        <div class="row">
            <div class="small-12 columns home__center-logo">
                <img src="../assets/logo.png" alt="">
            </div>
            <div class="home__main-text-box">
                <h1 class="home__text">Sizing - Selection - Procurement - Maintenance - Replacement</h1>
            </div>
        </div>
        <div class="row">
            <div class="home__time-box">
                <h2 class="home__text">Time Our Softrware Has Saved Engineers:</h2>
                <div ng-App="flipClock">
                    <div id="countdown" class="countdown" flipclock="{}"></div>
                </div>
            </div>
        </div>
        <div class="=row">
            <div class="home__trial-box">
                <h3 class="home__trial-text">Try the new software before you buy!</h3>
                <h3 class="home__trial-text">FREE 30 Days Trial <a href="#">here</a></h3>
            </div>
        </div>

    </div>




</div>