<div ui-view></div>
<div ng-controller="HomeController">
  <div ng-include="global.header.url"></div>
  <div ng-include="global.modal.url"></div>
  <tt>URL :{{global.modal.url}}</tt>
  <div class="home__main">
    <div class="row">
      <div class="small-12 columns home__center-logo">
        <img src="../assets/logo.png" alt="">
      </div>
      <div class="home__main-text-box">
        <h1 class="home__text">Sizing - Selection - Procurement - Maintenance - Replacement</h1>
      </div>
  </div>
  <div class="row">
    <div class="home__time-box">
        <h2 class="home__text">Time Our Software Has Saved Engineers:</h2>
        <div ng-App="flipClock">
          <div flipclock="{}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
