<!-- Copied from old registration page as it has the same fields/inputs -->

<div>
<form ng-submit="createUser(newUser)" name="registration">
  <div>
    <input class="input__main" name="first_name"
      ng-model="newUser.first_name"
      type="text"
      required
      placeholder="First Name"><br />
  
    <input class="input__main" name="last_name"
    ng-model="newUser.last_name"
    type="text"
    required
    placeholder="Last Name"><br />
    

    <input class="input__main" name="username"
    ng-model="newUser.username"
    type="text"
    required
    placeholder="Username"><br />

    <input class="input__main" ng-model="newUser.password"
    type="password"
    required
    name="password"
    placeholder="Password"><br />

    <input class="input__main" name="confirmation"
    required
    compare-to="newUser.password"
    ng-model="newUser.confirmation"
    type="password"
    placeholder="Confirm Password"><br />

    <input class="input__main" name="email" ng-pattern="validations.email" required ng-model="newUser.email"
    type="text"
    placeholder="xxx@xxxx.xxx"><br />

    <dropdown-select items="accountTypes" ng-model="newUser.account_type"></dropdown-select><br />

    <input class="input__main" name="address" required ng-model="newUser.address" type="text" placeholder="Address"><br />

    <input class="input__main" required name="city" ng-model="newUser.city" type="text" placeholder="City"><br />

    <dropdown-select items="states" ng-model="newUser.selectedState"></dropdown-select><br />

    <input class="input__main" required ng-pattern="validations.zipcode" name="zipcode" ng-model="newUser.zipcode" type="text" placeholder="Zipcode"><br />

    <input class="input__main" required name="company" ng-model="newUser.company" type="text" placeholder="Company"><br />

    <input class="input__main" required name="job_title" ng-model="newUser.job_title" type="text" placeholder="Job Title"><br />

    <input class="input__main" required ng-pattern="validations.phoneNumber" name="phone_number" ng-model="newUser.phone_number" type="text" placeholder="(xxx)xxx-xxxx"><br />

  </div>
  <button type="submit">Create User!</button>
</form>
</div>